<!DOCTYPE html>
<html>
    <head>
        <title>Greska</title>
        <meta charset="UTF-8">
        <link rel="icon" type="image/png" href="data:image/png;base64,iVBORw0KGgo=">
    </head>
    <body>
        <h1>Doslo je do greske</h1>
        <p><%= message %></p>
    </body>
</html>